#module {
	background: url(../images/background_320x480.jpg) 0 0 no-repeat;
	width: 320px;
	height: 480px;
	margin: 20px auto;
}

#module h3 {
	text-align: center;
	padding: 20px 0 10px;
    left: 10px;
    position: relative;
}

#module .tabs {
	margin: 0 auto 10px;
	width: 270px;
}

#module .tabs li {
	float: left;
	margin-right: 10px;
}	
#module .tabs li:last-child {
	margin: 0;
}
#module .tabs li a {
	width: 130px;
	height: 30px;
	display: block;
	text-indent: -9999px;
	background-position: 0 0;
	background-repeat: no-repeat;
}	

#videoTab {
	background: url(../images/button_video_b_130x30.png);	
}
#videoTab.active {
	background: url(../images/button_video_a_130x30.png);	
}
#galleryTab {
	background: url(../images/button_gallery_b_130x30.png);	
}
#galleryTab.active {
	background: url(../images/button_gallery_a_130x30.png);	
}

#module .content, #module .content .modContent  {
	position: relative;
}

#module video {
	width: 300px;
	height: 169px;
	margin: 50px auto 0;
	display: block;
}

#gallery, #mainImage {
	width: 270px;
	margin: 0 auto;
}
#mainImage {
	margin-bottom: 10px;
	height: 270px;
}

#gallery li {
	float: left;
	margin-right: 10px;
}
#gallery li:last-child {
	margin: 0;
}	